#chessboard .tile {
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 64px;
    line-height: 150%;

    &-white {
        background-color: #ebecd0;
    }

    &-black {
        background-color: #779556;
    }
}